fastapi==0.115.14
uvicorn==0.34.3
pydantic==2.11.7
python-dotenv==1.1.1
PyMuPDF==1.26.1
httpx==0.28.1
firebase-admin==6.9.0
python-dateutil==2.9.0.post0
typing-extensions==4.14.0
starlette==0.46.2
langchain-openai>=0.3.8,<0.4.0
langgraph>=0.3.10,<0.4.0
PyJWT>=2.0,<3.0